{% extends 'base.html' %}

{% block content %}

<!-- ========================= HEADING start ========================= -->
		<section class="heading my-5">
			<div class="container">
				<h2>About <span class="text-info">Us</span></h2>
				<p>The TRAVEL is the flagship digital consumer brand within a comprehensive guide to the India’s best travel destinations, its print heritage stretches back 30 years, with the online portal reaching its 19-year anniversary in 2020.The TRAVEL provides detailed and accurate travel content designed to inspire global travellers. It covers all aspects, from cities to airports, cruise ports to ski and beach resorts, attractions to events, and it also includes weekly travel news, features and quizzes. Updated every day by a dedicated global editorial team, the portal logs 1 million+ unique users monthly.</p>
			</div>
		</section>    
<!-- ========================= HEADING end ========================= -->

<!-- ======================== team start ======================== -->
    <section class="team" id="our">
		<h2>Our <span class="text-info">Team</span></h2>
		<div class="container">
			<div class="row">
<!-- 1st member -->
				<div class="col-md-6">
					<div class="team-box">
						<div class="team-img">
							<img src="/static/images/team1.jpg">
						</div>
						<div class="team-detials">
							<h4 class="text-center">Sameer <span class="text-info">Mark</span></h4>
							<p class="mx-3 my-4">From a very early age, he love to travel. he's been fascinated by new languages and cultures, and he especially enjoys getting to know countries' politics and history. He Found the TRAVEL in 2008. Now he is helping lots of peoples to travel across the India. And he is doing this very well.</p>
							<div class="d-grid gap-2">
								<button class="btn btn-info text-light" type="button">Contact</button>
							</div>
						</div>
					</div>
				</div>
<!--2nd member -->      
				<div class="col-md-6">
					<div class="team-box">
						<div class="team-img">
							<img src="/static/images/team2.jpg">
						</div>
						<div class="team-detials">
							<h4 class="text-center">Shivam <span class="text-info">Gupta</span></h4>
							<p class="mx-3 my-4">Shivam works from our Delhi office as Integrator and oversees our company's business operations. From a very early age, he's been fascinated by new languages and cultures, and he especially enjoys getting to know countries' politics and history. He joined TRAVEL in 2009.</p>
							<div class="d-grid gap-2">
								<button class="btn btn-info text-light" type="button">Contact</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- ======================== team end ======================== -->
    
<!-- ======================== banner start ======================== -->
    <section class="banner">
		<div class="highlights">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2>Get 30% on top destinations</h2>
						<p>Book your tickets before 30 Novmber and avail 30% flat discount.</p>
					</div>
					<div class="col-md-6">
						<button type="button" class="booking-btn">Book Now</button>
					</div>
				</div>
			</div>
		</div>
    </section>
<!-- ======================== banner end ======================== -->
{% endblock %}