<!-- ======================== footer start ======================== -->
	<section class="footer" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<a class="footer-logo text-dark fs-3" href="index.html">TRA<span class="text-info">VEL</span><sub> 4U</sub></a>
					<p>Among the most beautiful places to visit in India. Anyone who loves to travel knows that India’s beauty lies in its diversity.</p>
				</div>
				<div class="col-md-3">
					<h4>Features</h4>
					<p>Deals & Offers</p>
					<p>customer Reviews</p>
					<p>Cancelation Policy</p>
				</div>
				<div class="col-md-3">
					<h4>Quick Contact</h4>
					<p><i class="fa-solid fa-mobile-screen"></i>+91 0123456789</p>
					<p><i class="fa-solid fa-envelope"></i>hello@example.com</p>
					<p><i class="fa-solid fa-house"></i>xyz Road, ABC City.</p>
				</div>
				<div class="col-md-3">
					<h4>Follow us</h4>
					<a href="#"><i class="fa-brands fa-facebook-square"></i>Facebook</a>
					<a href="#"><i class="fa-brands fa-youtube-square"></i>YouTube</a>
					<a href="#"><i class="fa-brands fa-twitter-square"></i>Twitter</a>
				</div>
			</div>
		</div>
	</section>
<!-- ======================== footer end ======================== -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>